@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Format: R G B (Tanpa Koma, Tanpa 'rgb') biar support opacity */
    --background: 252 252 252;
    --foreground: 0 0 0;

    --card: 255 255 255;
    --card-foreground: 0 0 0;

    --popover: 252 252 252;
    --popover-foreground: 0 0 0;

    --primary: 0 0 0;
    --primary-foreground: 255 255 255;

    --secondary: 235 235 235;
    --secondary-foreground: 0 0 0;

    --muted: 245 245 245;
    --muted-foreground: 82 82 82;

    --accent: 235 235 235;
    --accent-foreground: 0 0 0;

    --destructive: 229 75 79;
    --destructive-foreground: 255 255 255;

    --border: 228 228 228;
    --input: 235 235 235;
    --ring: 0 0 0;

    --radius: 0.5rem;

    /* Charts */
    --chart-1: 255 174 4;
    --chart-2: 45 98 239;
    --chart-3: 164 164 164;
    --chart-4: 228 228 228;
    --chart-5: 116 116 116;

    /* Sidebar */
    --sidebar: 252 252 252;
    --sidebar-foreground: 0 0 0;
    --sidebar-primary: 0 0 0;
    --sidebar-primary-foreground: 255 255 255;
    --sidebar-accent: 235 235 235;
    --sidebar-accent-foreground: 0 0 0;
    --sidebar-border: 235 235 235;
    --sidebar-ring: 0 0 0;
  }

  .dark {
    --background: 0 0 0;
    --foreground: 255 255 255;

    --card: 9 9 9;
    --card-foreground: 255 255 255;

    --popover: 18 18 18;
    --popover-foreground: 255 255 255;

    --primary: 255 255 255;
    --primary-foreground: 0 0 0;

    --secondary: 34 34 34;
    --secondary-foreground: 255 255 255;

    --muted: 29 29 29;
    --muted-foreground: 164 164 164;

    --accent: 51 51 51;
    --accent-foreground: 255 255 255;

    --destructive: 255 91 91;
    --destructive-foreground: 0 0 0;

    --border: 36 36 36;
    --input: 51 51 51;
    --ring: 164 164 164;

    /* Charts Dark */
    --chart-1: 255 174 4;
    --chart-2: 38 113 244;
    --chart-3: 116 116 116;
    --chart-4: 82 82 82;
    --chart-5: 228 228 228;

    /* Sidebar Dark */
    --sidebar: 18 18 18;
    --sidebar-foreground: 255 255 255;
    --sidebar-primary: 255 255 255;
    --sidebar-primary-foreground: 0 0 0;
    --sidebar-accent: 51 51 51;
    --sidebar-accent-foreground: 255 255 255;
    --sidebar-border: 51 51 51;
    --sidebar-ring: 164 164 164;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    /* Saya balikin ke Manrope biar font lu gak rusak */
    font-family: 'Manrope', 'Geist', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* Saya balikin ke Space Grotesk buat heading */
    font-family: 'Space Grotesk', 'Geist', sans-serif;
  }
}
